@media (max-width: 960px){
    .users-box {
        display: none;
    }

    .my-button-add{
      width: 15%;
    }

    .input{
        width: 75%;
    }

    .input-user{
        width: 110px;
    }
    .textbox{
        width: 90%;
        height: 95%;
    }
}

@media (max-width: 420px) {
    .users-box {
        display: none;
    }

    .chat {
        position: absolute;
        width: 90%;
        height: 100%;
    }


    .bubble {
        width: 95%;
    }

    .bubble-you {
        width: 95%;
    }

    .titlestyle-h1{
        display: none;
    }

    .my-button-add {
        width: 26%;
    }

    .textbox {
        width: 93.5%;
        height: 75%;
    }

    .input {
        width: 66%;
    }

    .footer{
        display: none;
    }
}
