@media (max-width: 960px){
    .users-box {
        display: none;
    }

    .my-button-add{
      width: auto;
    }

    .input{
        width: 33%;
    }

    .my-button{
        width: auto;
    }

    .input-user{
        width: 120px;
    }
    .textbox{
        width: 80%;
        height: 75%;
    }
}

@media (max-width: 500px) {
    .users-box {
        display: none;
    }

    .chat {
        position: absolute;
        width: 90%;
        height: 100%;
    }

    .header{
        display: none;
    }

    .my-button {
        width: 23.8%;
    }

    .bubble {
        width: 95%;
    }

    .bubble-you {
        width: 95%;
    }

    .header-float {
        left: 10%;
    }

    .my-button-add {
        width: 24%;
        min-width: 27.3%;
    }

    .textbox {
        width: 93.5%;
        height: 65%;
    }

    .input {
        width: 65.2%;
    }


    main {
        height: 80%;
    }

    .footer-contetnt {
        font-size: 15px;
    }
}
