html, body {
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
    background-color: #232122;
}

.header {
    background-color: #9f9fae;
    max-height: 40px;
    padding: 30px;
    background-size: 12px 12px;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
}

.users-style-text{
    font-family: 'Open Sans Bold';
    font-weight: normal;
    font-size: 15px;
    color: #bbc4d5;
    margin: 0;
    padding: 5px;
}

.me{
    color: #ffffff;
}

.text-style-author {
    font-family: 'Open Sans Bold';
    font-weight: normal;
    font-size: 13px;
    color: #bbc4d5;
}

a:hover,
a:focus{
   color: #bbc4d5;
   text-decoration: none;
}

a.titlestyle-h1:hover{
    color:  #26282b;
    text-decoration: none;
}

.text-style {
    font-family: 'Open Sans Bold';
    font-weight: normal;
    font-size: 15px;
}

.titlestyle-h1 {
    font-weight: normal;
    font-family: 'Open Sans Bold';
    position: absolute;
    text-decoration: none;
    top: 15px;
    left: 40px;
    color:  #26282b;
    font-size: 1.5em;
}

.header-float {
    position: absolute;
    float: right;
    top: 20px;
    right: 20px;
}

.input-user {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #bbc4d5;
    width: 160px;
    border: 1px solid #151515;
    background-color: #26282b;
    border-radius: 4px;
    font-family: 'Open Sans';
}

.users-box {
    display: inline;
    position: absolute;
    color: #ffffff;
    width: 15%;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 9px;
    height: 50%;
    border: 2px solid #060101;
    border-radius: 4px;
    font-family: 'Open Sans';
    overflow: auto;
    background-color: #26282b;
}

.textbox {
    display: inline-block;
    width: 75%;
    position: relative;
    z-index: 7;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 20px;
    height: 90%;
    border: 2px solid #060101;
    border-radius: 4px;
    font-family: 'Open Sans';
    overflow: auto;
    background-color: #26282b;
}

.input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #bbc4d5;
    width: 71%;
    background-color: #26282b;
    border: 2px solid #151515;
    border-radius: 4px;
    font-family: 'Open Sans';
}

.my-button-add {
    display: inline-block;
    padding: 3px 13px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: #805cb7;
    border: 1px solid #764ab7;
    border-radius: 4px;
    font-family: 'Open Sans Semibold';
    width: 4%;
}

.bubble {
    position: relative;
    width: 60%;
    padding: 5px;
    background: #805cb7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 18px 6px;
    border-color: #805cb7 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -6px;
    left: 18px;
}

.myText {
    text-align: right;
}

.message {
    clear: both;
    margin: 5px;
}

.my-button-log {
    display: inline-block;
    padding: 3px 13px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: #805cb7;
    border: 1px solid #764ab7;
    border-radius: 4px;
    font-family: 'Open Sans Semibold';
}

.del{

}
.edit{

}


.deleted{
    opacity: 0.5;
}

.my-button-add:active {
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgba(187, 196, 213, 0.72));
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

.my-button-log:active {
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgba(187, 196, 213, 0.72));
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

.footer-content {
    font-family: "Open Sans Bold";
    text-align: right;
    color: #bbc4d5;
    font-size: 20px;
    margin: 0 0 0 10px;
    position: relative;
    z-index: 5;
}

.marg {
    margin-top: 10px;
}

.label-success {
    background-color: #805cb7;
}

.label-danger {
    background-color: red;
}

.rules-bar{
    left: 5%;
}

.label {
    line-height: 1;
    display: inline;
    padding: 7px 13px;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
}

.chat {
    font-weight: normal;
    position: absolute;
    width: 95%;
    height: 80%;
    left: 5%;
}

.bubble-you {
    float: right;
    position: relative;
    width: 60%;
    padding: 5px;
    color: #26282b;
    background: #E6E6FA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bubble-you:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 18px 6px;
    border-color: #E6E6FA transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -6px;
    left: 80%;
}

.footer {
    position:fixed;
    bottom: 0px;
    right: 5%;
    width: 100%;
    padding: 5px;
}





